<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <!-- Adding new fields for editing Chef profile -->
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>

   <div class="field">
    <%= f.label :location_lat %><br />
    <%= f.text_field :location_lat, autocomplete: "off", class:"lat"%>
  </div>

  <div class="field">
    <%= f.label :location_lon %><br />
    <%= f.text_field :location_lon, autocomplete: "off", class:"lon"%>
  </div>

  <div class="field">
    <%= f.label :radius_miles%><br />
    <%= f.text_field :radius, autocomplete: "off", class:"rad" %>
  </div>

  <h3>Click on map to set Catering Region (Uses selected radius)</h3>

  <div id="mapid"></div>
  <div class="field">
    <%= f.label :max_party_size %><br />
    <%= f.text_field :max_party_size, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :price_per_head %><br />
    <%= f.text_field :price_per_head, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Will Travel (Miles)" %><br />
    <%= f.text_field :will_travel, autocomplete: "off" %>
  </div>

  <p>Please select cuisines you cater for:</p>

  <form>
    <div class="multiselect">
      <div class="selectBox" onclick="showCheckboxes()">
        <select>
          <option>Select cuisines</option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxes">
        <label for="one">
          <input type="checkbox" id="one" />First checkbox</label>
        <label for="two">
          <input type="checkbox" id="two" />Second checkbox</label>
        <label for="three">
          <input type="checkbox" id="three" />Third checkbox</label>
      </div>
    </div>
  </form>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <!-- <h4 class="h4"> Hello<h4> -->
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


<script type="text/javascript">
  var lat = document.querySelector('.lat');
  var lon = document.querySelector('.lon');
  var rad = document.querySelector('.rad');
  var circle = undefined;
  var addCircle = function (event) {
    circle = L.circle(event.latlng, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: rad.value*1609.34
    }).addTo(mymap);
    circle.bindPopup("Your selected catering region.");
  }
  var mymap = L.map('mapid').setView([51.505, -0.115], 8);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoidGhvbWFzY2FsbHVtYnJvb2siLCJhIjoiY2pnNm9hOTUxMjlyNjJ3b2gybXl2OGpvNSJ9.6FSzBSK3H6063Afj38PSIQ'
  }).addTo(mymap);
  function onMapClick(event) {
    lat.value = event.latlng.lat;
    lon.value = event.latlng.lng;
    if (circle == undefined){
      addCircle(event);
      alert("Added catering region");
    }else {
      circle.remove();
      addCircle(event);
      alert("Changed catering region");
    }
  }

  mymap.addEventListener('click', onMapClick);

  // For select cusine box:

      var expanded = false;

    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }






</script>
