<% if user_signed_in? %>
  <h2>Hello <%= current_user.name %>, welcome to Go Chef!</h2>
  <%end%>
<table>
    <tr>
      <th></th>
      <th></th>
      <th>Rating</th>
      <th>Price</th>
      <th>Caters up to</th>
    </tr>
  <% @users.each do |chef|%>
    <tr>
      <td><% unless chef.avatar.blank? %>
        <div class="thumbnail" style="background-image:url(<%= image_path(chef.avatar) %>)"></div>
        <% end %></td>
      <td><h4 class="chef"><%= link_to chef.name, "/users/#{chef.id}" %></h4></td>
      <td><h4><%= chef.rating %></h4></td>
      <td><h4><%= chef.price_per_head %></h4></td>
      <td><h4><%= chef.max_party_size %></h4></td>
    <% end %></tr>
</table>
 <!--  <h3>All Chef Locations</h3>
  <h4>Click on the map to see if chefs serve your location!</h4> -->
<!--   <div id="home-map"></div> -->
  <script type="text/javascript">
    var rad = document.querySelector('.rad');
    var name = document.querySelectorAll('.chef');
    var chefs = <%= raw JSON.generate(@users.all.map(&:as_json))  %>;
    var mymap = L.map('home-map').setView([51.505, -0.115], 4);
    var layer = new L.StamenTileLayer("terrain");
    mymap.addLayer(layer);
    var addCircle = function (chef){
      circle = L.circle([chef.location_lat, chef.location_lon], {
      color: 'red',
      fillColor: '#f03',
      fillOpacity: 0.5,
      radius: 1,
      }).addTo(mymap);
      circle.bindPopup(`<a href="/users/${chef.id}" >${chef.name}</a>`);
    }
    function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
      var R = 6371; // Radius of the earth in km
      var dLat = deg2rad(lat2-lat1);  // deg2rad below
      var dLon = deg2rad(lon2-lon1);
      var a =
        Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
        Math.sin(dLon/2) * Math.sin(dLon/2)
        ;
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c; // Distance in km
      return d;
    }

    function deg2rad(deg) {
      return deg * (Math.PI/180)
    }
    function onMapClick(event) {
      mymap.eachLayer(function (layer) {
        mymap.removeLayer(layer);
      });
      mymap.addLayer(layer);
      console.log("map clicked");
      chefs.forEach(function(chef){
        if (getDistanceFromLatLonInKm(chef.location_lat, chef.location_lon, event.latlng.lat, event.latlng.lng) < chef.radius){
          addCircle(chef);
        };
      });
    }

    chefs.forEach(function(chef){
      addCircle(chef);
    });
    mymap.addEventListener('click', onMapClick);


  </script>
