<h2>Hello <%= current_user.name %>, welcome to Go Chef!</h2>
<br>
<p>Click <%= link_to "here", edit_user_registration_path %> to view your profile</p>

<table id="homepage_table">
  <tr>
    <th>Chef</th>
    <th>Location (lat)</th>
    <th>Location (lon)</th>
    <th>Will Travel (Miles)</th>
  </tr>
  <% @users.each do |chef|%>
    <tr>
      <td><%= link_to chef.name, "/users/#{chef.id}" %></td>
      <td><%= sprintf("%.3f",chef.location_lat) %></td>
      <td><%= sprintf("%.3f",chef.location_lon) %></td>
      <td><%= chef.will_travel %></td>
    </tr>
  <% end %>
</table>
