<div class="chef-view">
   <h1><%= @user.name %></h1>
    <p class="bio"> <%= @user.bio %> </p>
      <div class="portrait" style="background-image:url(<%= image_path(@user.avatar) %>)"></div>
<h2>Cuisines:</h2>
<div id="memberships">
  <ul>
    <% @user.cuisines.each do |cuisine| %>
      <li><%= cuisine.food %></li>
    <% end %>
  </ul>
</div>
<div id="gallery">
  <%@user.images.each do |pic| %>
     <div class="portrait" style="background-image: url(<%= image_path(pic.picture.url) %>)"></div>
  <% end %>
</div>

